<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NITEVis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NITEVis.Properties.Settings>
            <setting name="ONIConfig" serializeAs="String">
                <value>ONIConfig.xml</value>
            </setting>
            <setting name="DisplaySkeleton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkeletonColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SkeletonLowConfidenceColor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="SkeletonLowConfidenceThreshold" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="SkeletonSmoothing" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="SkeletonThickness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PauseInitially" serializeAs="String">
                <value>False</value>
            </setting>
        </NITEVis.Properties.Settings>
    </userSettings>
</configuration>